<html lang="en">
<head>
<link rel="stylesheet" href="./dist/jquery.jqplot.css">
<title>Sci-Fi Book to movie adaptations</title>
<style>

table {
  border: 2px solid #42b983;
  border-radius: 3px;
  background-color: #fff;
}

th {
  background-color: #42b983;
  color: rgba(255,255,255,0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 120px;
  padding: 10px 20px;
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}
</style>
</head>
<body>

<div id="reviewed-graph" style="height:600px;"></div>

<div id="book-graph" style="height:600px;"></div>

<!-- component template -->
<script type="text/x-template" id="grid-template">
  <table>
    <thead>
      <tr>
        <th v-for="key in columns"
          @click="sortBy(key)"
          :class="{ active: sortKey == key }">
          {{ key | capitalize }}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData">
        <td>{{entry.name}}</td>
        <td>{{entry.author | authorName}}</td>
        <td>{{entry.publication_year}}</td>
        <td><a :href="entry.episode_url">{{entry.episode}}</a></td>
      </tr>
    </tbody>
  </table>
</script>

<!-- demo root element -->
<div id="podcast-table">
  <form id="search">
    Search <input name="query" v-model="searchQuery">
  </form>
  <podcast-grid
    :data="data"
    :columns="columns"
    :filter-key="searchQuery">
  </podcast-grid>
</div>

<script type="text/javascript" src="./dist/jquery.js"></script>
<script type="text/javascript" src="./dist/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="./dist/plugins/jqplot.dateAxisRenderer.js"></script>
<script type="text/javascript" src="./dist/plugins/jqplot.highlighter.js"></script>
<script type="text/javascript" src="./dist/plugins/jqplot.cursor.js"></script>
<script type="text/javascript" src="./dist/plugins/jqplot.canvasTextRenderer.js"></script>
<script type="text/javascript" src="./dist/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<script type="text/javascript" src="./dist/plugins/jqplot.canvasAxisLabelRenderer.js"></script>
<script type="text/javascript" src="./dist/plugins/jqplot.categoryAxisRenderer.min.js"></script>

<script type="text/javascript" src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>

<script type="text/javascript">

var raw_data = [
    {
        name: 'Frankenstein',
        author: 'Shelly, Mary',
        publication_year: 1816,
        episode : 33,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-33-bilateral-kidney-stones-frankenstein/',
        adaptations: [
            { year: 1931, title: 'Frankenstein' },
            { year: 1935, title: 'Bride of Frankenstein' },
            { year: 1979, title: 'Young Frankenstein' },
            { year: 1994, title: 'Frankenstein' },
            { year: 2004, title: 'Frankenstein' },
            { year: 2015, title: 'Victor Frankenstein' }
        ]
    },
    {
        name: 'A Christmas Carol',
        author: 'Dickens, Charles',
        publication_year: 1843,
        episode : 14,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-14-double-marley-double-fun/',
        adaptations: [
            { year: 1901, title: 'Scrooge, or, Marley\'s Ghost' },
            { year: 1951, title: 'Scrooge' },
            { year: 1988, title: 'Scrooged' },
            { year: 1992, title: 'A Muppet Christmas Carol' },
            { year: 1999, title: 'A Christmas Carol' }
        ]
    },
    {
        name: 'Who Goes There?',
        author: 'Campbell, John W., Jr.',
        publication_year: 1938,
        episode : 12,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-12-speak-softly-carry-electrified-pitchfork/',
        adaptations: [
            { year: 1951, title: 'The Thing from Another World' },
            { year: 1982, title: 'The Thing' },
            { year: 2011, title: 'The Thing - Prequel' }
        ]
    },
    {
        name: 'I Robot',
        author: 'Binder, Eando',
        publication_year: 1939,
        episode : 18,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-18-ifs-ands-robuts-leonard-nimoy/',
        adaptations: [
            { year: 1965, title: 'I Robot' },
            { year: 1995, title: 'I Robot' }
        ]
    },
    {
        name: 'Farewell to the Master',
        author: 'Bates, Harry',
        publication_year: 1940,
        episode : 1,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-1-farewell-to-the-outline/',
        adaptations: [
            { year: 1951, title: 'The Day the Earth Stood Still' },
            { year: 2008, title: 'The Day the Earth Stood Still' }
        ]
    },
    {
        name: 'I, Robot',
        author: 'Asimov, Isaac',
        publication_year: 1950,
        episode : 25,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-25-there-is-no-spooner-i-robot/',
        adaptations: [
            { year: 2004, title: 'I, Robot' },
        ]
    },
    {
        name: 'The Sentinel',
        author: 'Clarke, Arthur C.',
        publication_year: 1950,
        episode : 39,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-39-selfie-with-the-monolith-aliens-2001-a-space-odyssey/',
        adaptations: [
            { year: 1968, title: '2001: A Space Odyssey' },
            { year: 1968, title: '2001: A Space Odyssey' },
        ]
    },
    {
        name: 'Day of the Triffids',
        author: 'Wyndham, John',
        publication_year: 1951,
        episode : 10,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-10-triffids-scream-ice-cream-day-torrence/',
        adaptations: [
            { year: 1962, title: 'Day of the Triffids' },
            { year: 1980, title: 'Day of the Triffids' },
            { year: 2009, title: 'Day of the Triffids' }
        ]
    },
    {
        name: 'A Sound of Thunder',
        author: 'Bradbury, Ray',
        publication_year: 1952,
        episode : 28,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-28-deaunt-chaynj-ennithnng-a-sound-of-thunder-feat-phil-nichols/',
        adaptations: [
            { year: 1989, title: 'A Sound of Thunder' },
            { year: 2005, title: 'A Sound of Thunder' }
        ]
    },
    {
        name: 'Fahrehheit 451',
        author: 'Bradbury, Ray',
        publication_year: 1953,
        episode : 43,
        episode_url : 'http://pavementpodcast.com/podcast/episode-43-montag-shot-first-fahrenheit-451-feat-phil-nichols/',
        adaptations: [
            { year: 1966, title: 'Fahrenheit 451' },
        ]
    },
    {
        name: 'I Am Legend',
        author: 'Matheson, Richard',
        publication_year: 1954,
        episode : 45,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-45-pale-luddites-i-am-legend/',
        adaptations: [
            { year: 1964, title: 'The Last Man on Earth' },
            { year: 1971, title: 'The Omega Man' },
            { year: 2007, title: 'I Am Legend' },
        ]
    },
    {
        name: 'The Racer',
        author: 'Melchior, Ib',
        publication_year: 1956,
        episode : 7,
        episode_url : 'http://pavementpodcast.com/podcast/death-cast-2000/',
        adaptations: [
            { year: 1975, title: 'Death Race 2000' },
            { year: 2009, title: 'Death Race' }
        ]
    },
    {
        name: 'Minority Report',
        author: 'Dick, Philip K.',
        publication_year: 1956,
        episode : 16,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-16-two-three-idiots-cant-wrong/',
        adaptations: [
            { year: 2002, title: 'Minority Report' },
        ]
    },
    {
        name: 'The Fly',
        author: 'Langelaan, George',
        publication_year: 1957,
        episode : 3,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-3-pretty-fly-for-a-white-guy/',
        adaptations: [
            { year: 1958, title: 'The Fly' },
            { year: 1986, title: 'The Fly' }
        ]
    },
    {
        name: 'All You Zombies',
        author: 'Heinlein, Robert',
        publication_year: 1959,
        episode : 15,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-15-heinlein-timeline/',
        adaptations: [
            { year: 2014, title: 'Predestination' }
        ]
    },
    {
        name: 'Starship Troopers',
        author: 'Heinlein, Robert',
        publication_year: 1959,
        episode : 26,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-26-de-bounced-starship-troopers/',
        adaptations: [
            { year: 1997, title: 'Starship Troopers' }
        ]
    },
    {
        name: 'Monkey Planet',
        author: 'Boulle, Pierre',
        publication_year: 1963,
        episode : 2,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-2-can-i-get-an-ape-men/',
        adaptations: [
            { year: 1968, title: 'Planet of the Apes' },
            { year: 2001, title: 'Planet of the Apes' }
        ]
    },
    {
        name: 'Eight O\'Clock in the Morning',
        author: 'Nelson, Ray',
        publication_year: 1963,
        episode : 4,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-4-time-of-death-may-vary/',
        adaptations: [
            { year: 1988, title: 'They Live' },
        ]
    },
    {
        name: 'Colossus',
        author: 'Jones, D.F.',
        publication_year: 1966,
        episode : 38,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-38-scientists-should-read-frankenstein-colossus-the-forbin-project/',
        adaptations: [
            { year: 1970, title: 'Colossus: The Forbin Project' },
        ]
    },
    {
        name: 'We Can Remember It For You Wholesale',
        author: 'Dick, Philip K.',
        publication_year: 1966,
        episode : 19,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-19-false-mammaries-or-sleeping-with-the-enemy-total-recall/',
        adaptations: [
            { year: 1999, title: 'Total Recall' },
            { year: 2012, title: 'Total Recall' },
        ]
    },
    {
        name: 'The Iron Man',
        author: 'Hughes, Ted',
        publication_year: 1968,
        episode : 31,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-31-hogarths-getting-a-new-daddy-the-iron-giant/',
        adaptations: [
            { year: 1999, title: 'The Iron Giant' }
        ]
    },
    {
        name: 'A Boy and His Dog',
        author: 'Ellison, Harlan',
        publication_year: 1969,
        episode : 13,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-13-cheesy-quilla-desa/',
        adaptations: [
            { year: 1975, title: 'A Boy and His Dog' },
        ]
    },
    {
        name: 'The Stepford Wives',
        author: 'Levin, Ira',
        publication_year: 1972,
        episode : 23,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-23-dawn-of-the-apron-the-stepford-wives/',
        adaptations: [
            { year: 1975, title: 'The Stepford Wives' },
            { year: 2004, title: 'The Stepford Wives' }
        ]
    },
    {
        name: 'Rollerball Murder',
        author: 'Harrison, William',
        publication_year: 1973,
        episode : 22,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-22-no-penalties-no-time-limit-no-award-rollerball/',
        adaptations: [
            { year: 1975, title: 'Rollerball' },
            { year: 2005, title: 'Rollerball' }
        ]
    },
    {
        name: 'The Hitchhiker\'s Guide to the Galaxy',
        author: 'Adams, Douglas',
        publication_year: 1979,
        episode : 42,
        episode_url : 'http://pavementpodcast.com/podcast/episode-42-the-prevalence-of-tea-towels-the-hitchhikers-guide-to-the-galaxy-feat-michael-simshauser/',
        adaptations: [
            { year: 2005, title: 'The Hitchhiker\'s Guide to the Galaxy' },
        ]
    },
    {
        name: 'Enemy Mine',
        author: 'Longyear, Barry B.',
        publication_year: 1979,
        episode : 11,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-11-best-friends-drac/',
        adaptations: [
            { year: 1985, title: 'Enemy Mine' },
        ]
    },
    {
        name: 'Contact',
        author: 'Sagan, Carl',
        publication_year: 1985,
        episode : 17,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-17-awful-waste-space-contact/',
        adaptations: [
            { year: 1997, title: 'Contact' },
        ]
    },
    {
        name: 'Jurassic Park',
        author: 'Crichton, Michael',
        episode : 8,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-8-tranny-saurus-philosoraptor/',
        publication_year: 1990,
        adaptations: [
            { year: 1993, title: 'Jurassic Park' },
        ]
    },
    {
        name: 'Jumper',
        author: 'Gould, Stephen',
        episode : 29,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-29-we-mean-no-harm-to-your-planet-jumper/',
        publication_year: 1992,
        adaptations: [
            { year: 2008, title: 'Jumper' },
        ]
    },
    {
        name: 'The Prestige',
        author: 'Priest, Christopher',
        episode : 41,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-41-everybodys-a-victim-the-prestige/',
        publication_year: 1995,
        adaptations: [
            { year: 2006, title: 'The Prestige' },
        ]
    },
    {
        name: 'Story of Your Life',
        author: 'Chiang, Ted',
        episode : 46,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-46-there-are-no-thes-arrival/',
        publication_year: 1998,
        adaptations: [
            { year: 2016, title: 'Arrival' },
        ]
    },
    {
        name: 'Timeline',
        author: 'Crichton, Michael',
        episode : 6,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-6-quantum-physics-means-never-explain/',
        publication_year: 1999,
        adaptations: [
            { year: 2003, title: 'Timeline' },
        ]
    },
    {
        name: 'Odd Thomas',
        author: 'Koontz, Dean',
        publication_year: 2003,
        episode : 5,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-5-botox-boat-axe-something/',
        adaptations: [
            { year: 2013, title: 'Odd Thomas' },
        ]
    },
    {
        name: 'All You Need Is Kill',
        author: 'Sakurazaka, Hiroshi',
        publication_year: 2004,
        episode : 9,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-9-groundhog-d-day/',
        adaptations: [
            { year: 2014, title: 'Edge of Tomorrow' },
        ]
    },
    {
        name: 'I Remember the Future',
        author: 'Burstein, Michael A.',
        publication_year: 2008,
        episode : 36,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-36-i-remember-the-future-interview-with-michael-a-burstein/',
        adaptations: [
            { year: 2014, title: 'I Remember the Future' },
        ]
    },
    {
        name: 'Hunger Games',
        author: 'Collins, Suzanne',
        publication_year: 2008,
        episode : 37,
        episode_url : 'http://pavementpodcast.com/podcast/the-going-exchange-rate-on-kisses-the-hunger-games-feat-margo-d/',
        adaptations: [
            { year: 2012, title: 'Hunger Games' },
        ]
    },
    {
        name: 'The Nostalgist',
        author: 'Wilson, Daniel H.',
        publication_year: 2009,
        episode : 44,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-44-a-little-more-data-than-number-five-the-nostalgist/',
        adaptations: [
            { year: 2014, title: 'The Nostalgist' },
        ]
    },
    {
        name: 'The Martian',
        author: 'Weir, Andy',
        publication_year: 2011,
        episode : 30,
        episode_url : 'http://pavementpodcast.com/podcast/tmtyr-episode-30-weir-science-the-martian-feat-matt-anderson/',
        adaptations: [
            { year: 2015, title: 'The Martian' },
        ]
    },
 ];

//Graph 1
var publication_data = []; //Adaptations
var reviewed_data = []; //The book itself

//Graph 2
var book_data = []; //Time of adaptation

$.each(raw_data, function(index, book) {
    publication_data.push([ book.publication_year, book.publication_year, book.name, book.episode, book.episode_url]);
    $.each(book.adaptations, function (idx, adaptation) {
        //var my_title = (adaptation.title === '') ? book.name : adaptation.title;
        reviewed_data.push([book.publication_year, adaptation.year, adaptation.title, book.episode, book.episode_url]);
        book_data.push([book.name + ' (' + book.publication_year + ')', adaptation.year-book.publication_year, adaptation.title, adaptation.year, book.episode, book.episode_url]);
    });
});

$('#reviewed-graph').html('');
var minYear = 1810;
var maxYear = 2015;
$.jqplot('reviewed-graph', [ reviewed_data, publication_data ], {
    title : 'Movie Adaptation vs Book Publication Dates (Podcast)',
    legend : {
        show: true,
        location: 'se',
        labels : ['Reviewed Movies', 'Books and Dates']
    },
    seriesDefaults: {
        showMarker: true,
        showLine: false,
    },
    highlighter: {
        show : true,
        tooltipAxes : 'y',
        yvalues : 4,
        tooltipLocation : 'n',
        formatString : '%s - %s<br />Episode %3$s',
        tooltipFadeSpeed : 2500,
    },
    axes : {
        xaxis : {
            label : 'Publication year (Books/Movies)',
            labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
            min: minYear,
            max: maxYear,
            numberTicks: ((maxYear-minYear)/10)+1
        },
        yaxis : {
            label : 'Adaptation year',
            labelRenderer: $.jqplot.CanvasAxisLabelRenderer
        }
    }
});

$.jqplot('book-graph', [ book_data ], {
    title : 'Books and Adaptations',
    seriesDefaults: {
        showMarker: true,
        showLine: false,
    },
    axesDefaults : {
        tickRenderer: $.jqplot.CanvasAxisTickRenderer,
        tickOptions : {
            angle: -60
        }
    },
    highlighter: {
        show : true,
        tooltipAxes : 'y',
        yvalues : 5,
        tooltipLocation : 'n',
        formatString : '%2$s(%3$s)<br />Episode %4$s',
        tooltipFadeSpeed : 2500,
    },
    axes : {
        xaxis : {
            renderer: $.jqplot.CategoryAxisRenderer,
        },
        yaxis : {
            label : 'Years to Adapt',
            labelRenderer: $.jqplot.CanvasAxisLabelRenderer
        }
    }
});

</script>
<script type="text/javascript">
// register the grid component
Vue.component('podcast-grid', {
  template: '#grid-template',
  replace: true,
  props: {
    data: Array,
    columns: Array,
    filterKey: String
  },
  data: function () {
    var sortOrders = {}
    this.columns.forEach(function (key) {
      sortOrders[key] = 1
    })
    return {
      sortKey: 'publication_year',
      sortOrders: sortOrders
    }
  },
  computed: {
    filteredData: function () {
      var sortKey = this.sortKey
      var filterKey = this.filterKey && this.filterKey.toLowerCase()
      var order = this.sortOrders[sortKey] || 1
      var data = this.data
      if (filterKey) {
        data = data.filter(function (row) {
          return Object.keys(row).some(function (key) {
            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
          })
        })
      }
      if (sortKey) {
        data = data.slice().sort(function (a, b) {
          a = a[sortKey]
          b = b[sortKey]
          return (a === b ? 0 : a > b ? 1 : -1) * order
        })
      }
      return data
    }
  },
  filters: {
    capitalize: function (str) {
      return str.charAt(0).toUpperCase() + str.slice(1)
    },
    authorName: function (str) {
      var name_parts = str.split(', ');
      var name = name_parts[1] + ' ' + name_parts[0];
      if (name_parts[2]) {
        name = name + ', ' + name_parts[2];
      }
      return name;
    }
  },
  methods: {
    sortBy: function (key) {
      this.sortKey = key
      this.sortOrders[key] = this.sortOrders[key] * -1
    }
  }
})

// bootstrap the demo
var thisPodcast = new Vue({
  el: '#podcast-table',
  data: {
    searchQuery: '',
    columns: ['name', 'author', 'publication_year', 'episode'],
    data: raw_data
  }
})

</script>
</body>
